@charset "utf-8";
@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
*, ul, a, li { text-decoration: none; list-style: none; padding: 0; margin: 0px; }
a:hover, a:focus { text-decoration:none; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; background-color: #fff; -o-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -khtml-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; position: relative; color: #666; }
.navbar-default { background-color:#fff; border:none; margin-bottom:0px; padding:10px 0; }
.navbar-nav > li > a { padding:13px 20px; }
.navbar-nav > li > a.login_btn { background-color: #00b488; border-radius: 3px; color: #fff; margin-right:5px; }
.navbar-nav > li > a.register_btn { background-color: #1e91d0; border-radius: 3px; color: #fff; }
.navbar-nav > li > a.login_btn:hover, .navbar-nav > li > a.login_btn:focus { background-color:#888; color:#fff; }
.navbar-nav > li > a.register_btn:hover, .navbar-nav > li > a.register_btn:focus { background-color:#888; color:#fff; }
.menu_header { box-shadow: 0 0 3px #e3e3e3; background-color:#fff; }
.sli_text { left: 10%; position: absolute; top: 100px; text-align: center; max-width:600px; z-index: 333;}
.sli_text > h1 { color: #1e91d0; font-size: 60px; text-transform: uppercase; font-weight:700; font-family: 'Montserrat', sans-serif; }
.sli_text > p { font-size: 24px; font-weight: 300; line-height: 34px; color:#f5f5f5}
.sli_text .green_btn { background-color: #00b488; border-radius: 3px; color: #fff; display: inline-block; font-weight: 700; height: 50px; line-height: 50px; margin: 15px 0; text-align: center; width: 180px; font-family: 'Montserrat', sans-serif; font-size:18px; }
.sli_text .green_btn:hover, .sli_text .green_btn:focus { background-color: #1e91d0; color: #fff; box-shadow: 0 0 5px #999; }
.main_slider { position:relative;background-color: #323b43; }
.main_slider::before {
position:absolute;
width:100%;
height:5px;
left:0px;
right:0px;
bottom:0px;
background-color:rgba(0, 136, 180, 0.3);
content:'';
z-index:2;
}
.search_box { border-radius:30px; box-shadow:none; padding-left:35px; background-image:url(../images/search_icon.png); background-repeat:no-repeat; background-position:10px 9px; }
.title_sec { text-align:center; }
.title_sec > h1 { color: #282828; font-size: 30px; font-weight: 700; margin:0px; }
.title_sec > h1 span { color: #00b488; }
.title_sec > span { color: #999; display: block; font-size: 18px; padding: 15px 0; }
.title_sec > p { font-size: 16px; font-weight: 300; line-height: 28px; margin: 0 auto; max-width: 600px; }
.intro_welcome { position:relative; padding:70px 0; background-image:url(../images/tringle1.png); background-position:bottom left; background-repeat:no-repeat; background-size: auto 100%; }
.intro_welcome .left_tri { position:absolute; right:0px; bottom:0px; z-index:2; }
.green_btn { background-color: #00b488; border-radius: 3px; color: #fff; display: inline-block; font-weight: 700; height: 50px; line-height: 50px; margin: 15px 0; text-align: center; width: auto; font-family: 'Montserrat', sans-serif; font-size:15px; padding:0 20px; }
.green_btn:hover, .green_btn:focus { background-color: #1e91d0; color: #fff; box-shadow: 0 0 5px #00b488; }
#howitworks { position:relative; padding:60px 0; background-color:#f6f6f6; }
.hiw_box { padding: 20px 10px; text-align: center; }
.hiw_box img { margin:20px auto; }
.hiw_box p { color: #282828; font-size: 18px; margin-bottom: 0; padding: 20px 0 0 0; position: relative; }
.hiw_box p::before {
 position:absolute;
width:100px;
height:2px;
left:50%;
margin-left:-50px;
top:0px;
background-color:#00b488;
content:'';
z-index:2;
}
#fea_categories { position:relative; padding:60px 0; text-align:center; }
.fea_cat { margin:30px 0 15px 0; }
.fea_cat > li { border: 1px solid #e3e3e3; display: table-cell; float: left; padding: 30px; text-align: center; width: 25%; }
.fea_cat > li:hover { border: 1px solid #fff; box-shadow: 0 0 30px #ddd; }
.fea_cat > li a { font-size:16px; color:#666; font-weight:600; display:block; background-color:#fff; }
.fea_cat > li a img { margin:0 auto 20px auto; }
.fea_cat > li:hover a { color: #1e91d0; }
.grn_bor_btn { background-color:transparent; border-radius: 3px; border:1px solid #00b488; color: #00b488; display: inline-block; font-weight: 700; height: 40px; line-height: 40px; margin: 15px 0; text-align: center; width: auto; font-size:15px; padding:0 20px; }
.grn_bor_btn:hover, .grn_bor_btn:focus { background-color: #00b488; color: #fff; box-shadow: 0 0 5px #00b488; }
#why_workglo { position:relative; padding:60px 0; background-color:#f6f6f6; }
#why_workglo .title_sec { text-align: left; margin:50px 0 15px 0; }
.fea_points > li { font-size: 16px; font-weight: 300; padding: 20px 0 0; color: #282828; }
.fea_points b { color: #282828; display: block; }
.poeple_count { font-size: 20px; text-align: center; }
.poeple_count span { font-family: 'Montserrat', sans-serif; color: #1e91d0; display:block; }
.big-text { font-size: 60px; line-height: 60px; font-weight:700; }
/*--invitations--*/
.table .thead-default th { background-color: #1e91d0; padding: 15px 10px; text-align: center; color:#fff; }
.table .thead-default th:nth-child(2) {
 max-width: 400px;
 text-align: left;
}
.table td { text-align:center; }
.table td:nth-child(2) {
 max-width: 400px;
 text-align: left;
}
.table td h4 { font-size: 16px; font-weight: bold; margin-top: 0; color:#00b488; }
.bid_btn { border: 1px solid #1e91d0; border-radius: 3px; display: block; font-size: 13px; padding: 5px 10px; color:#1e91d0; }
.table-hover > tbody > tr:hover a.bid_btn { background-color:#1e91d0; color:#fff; }
.table-hover > tbody > tr:hover td h4 { color:#1e91d0; }
#invitations .clearfix { text-align: center; }
#invitations { position:relative; padding:60px 0; }
#invitations .table-responsive { margin-top: 25px; }
#invitations .table td:nth-child(6) {
 color: #00b488;
 font-weight: 600;
}
#gigs { position:relative; padding:60px 0; background-color:#f6f6f6; text-align:center; }
#gigs .title_sec { margin-bottom: 20px; }
.gig_box { background-color: #fff; border: 1px solid #e3e3e3; max-width: 270px; margin:10px 0; text-align:left; }
.gig_box:hover { box-shadow: 0 0 10px #ddd; }
.gig_box a.gig_title { color: #282828; font-size: 16px; height: 80px; margin: 10px; overflow: hidden; display: block}
.gig_box a.gig_title:hover { color: #00b488; }
.start_frm { padding:0 10px 10px 10px; }
.start_frm > span { color: #00b488; float: right; }
#blogs { position:relative; padding:60px 0; background-color:#fff; text-align:center; }
#blogs .title_sec { margin-bottom: 20px; }
.story_box {background-color: #fff;border-radius: 4px; box-shadow: 0 2px 5px #adadad;text-align: left; margin:15px 0;}
.blog_img > img {border-radius: 4px 4px 0 0;width: 100%;}
.blog_title > a {color: #454545; display: block;font-size: 20px;padding: 10px 15px 5px 15px; font-weight:600;}
.blog_desc {color: #686868;font-size: 15px; margin-bottom:0px;padding:30px;}
.blue_link {
    display: inline-block;
    margin: 10px 15px;color: #00b488;
}
#partners { position:relative; padding:40px 0; background-color:#f6f6f6; text-align:center; }
#partners #fd2{ margin-top:20px;}
.footer{ padding-top:30px;}
.footer h4 { font-size: 18px; text-transform: uppercase; margin-top:30px; }
.footer .links a { color: #686868; line-height: 30px; }
.footer .links a:hover { color:#00b488; }
.contact i { padding-right: 15px; }
.contact, .contact li a { color:#686868; }
.contact li { margin-bottom:15px; }
.contact span { display: inline-block; vertical-align: top; }
.contact span.alt { padding-left:25px; }
.copy{ border-top: 1px solid #dedede;display:block; color: #686868; font-size: 13px; margin: 10px 0 0; padding: 20px 0;}
.copy p{ display:inline-block;}
.copy .links{ float:right;display:inline-block;}
.about_footer {
    padding: 35px 0 0;
    text-align: center;
}
.about_footer figure {
    margin:0 0 15px 0;
}
.about_footer p {
    margin: 5px 20px;
}
.about_footer span {
    margin: 10px 0; display:block;
}
.home-social{
	display: inline-block;
    text-align: right;
    width: 50%;
}
.gig_box .img-responsive{
	width: 100%;
}
.slide_text {
    bottom: 50px;
    color: #fff;
    position: absolute;
    right: 10%;
    z-index: 333;text-shadow: 0 0 3px #222; background-color:rgba(0,0,0,0.6); padding:5px 10px; border-radius:3px;
}
.slide_text span{ display:block;
}
.slide_text span.f_name{ font-weight:bold;
}
/********All blogs**********/
/*=====================
	 6. Sidebar
===========================*/
.sidebar_widget {
	background-color: #ffffff;
	padding:20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.03);
	margin-bottom: 30px;
}
.sidebar_title {
	background: #f2f2f2 none repeat scroll 0 0;
	letter-spacing: 1px;
	margin: 0 auto 15px;
	padding: 12px 15px;
}
.about_img {
	margin:0 auto 15px;
}
.sidebar_widget p {
	margin:0 auto 15px;
	color:#666;
	font-size:14px;
	line-height:24px;
}
.sidebar_widget .post_img {
	margin:0 auto 15px;
}
.populat_post {
	border: 1px solid #eeeeee;
	margin: 0 auto 15px;
	padding: 20px 20px 10px;
}
.populat_post:last-child {
	margin:0 auto;
}
.populat_post:hover .hover_mask a {
	opacity: 1;
}
.sidebar_widget > ul {
	padding:0px;
	margin:0px;
}
.sidebar_widget > ul > li {
	border-bottom: 1px solid #eeeeee;
	list-style: outside none none;
	margin: 0 auto 10px;
	padding-bottom: 10px;
	padding-left: 19px;
	position: relative;
}
.sidebar_widget > ul > li::after {
	content:"\f101";
	font-family: fontawesome;
	left: 4px;
	position: absolute;
	top: 0;
}
.sidebar_widget > ul > li:last-child {
	margin:0 auto;
	padding-bottom:0px;
	border:0px;
}
.sidebar_widget >ul > li > a {
	display:inline-block;
	color:#000;
	font-size:15px;
}
.sidebar_widget >ul > li > a:hover {
	color:#ff4422;
}
.tagcloud a {
	display:inline-block;
	padding:6px 15px;
	border:#eee solid 1px;
	color:#666;
	font-size:14px;
	margin:0 4px 4px 0;
}
.tagcloud a:hover {
	background:#ff4422;
	border-color:#ff4422;
	color:#fff;
}
/*Comment start*/
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
/*comment end*/