span.country {
	position:relative;
	display:inline-block;
	background:url(https://www.workglo.com/images/scriptolution_flags.png) no-repeat 0px 12px;
	height:11px;
	width:17px;
	vertical-align:middle;
	margin:1px 0 0 0
}
span.us {
	background-position:-4px -565px !important
}
span.ro {
	background-position:-144px -509px !important
}
span.ru {
	background-position:-144px -453px !important
}
span.co {
	background-position:-60px -117px !important
}
span.ph {
	background-position:-116px -425px !important
}
span.ua {
	background-position:-256px -537px !important
}
span.ca {
	background-position:-60px -89px !important
}
span.gb {
	background-position:-284px -173px !important
}
span.cz {
	background-position:-256px -117px !important
}
span.hu {
	background-position:-228px -229px !important
}
span.md {
	background-position:-32px -341px !important
}
span.za {
	background-position:-144px -593px !important
}
span.br {
	background-position:-172px -61px !important
}
span.in {
	background-position:-32px -257px !important
}
span.mx {
	background:url(https://www.workglo.com/images/flag_mexico.jpg);
	height:11px;
	width:16px
}
span.es {
	background-position:-4px -173px !important
}
span.de {
	background-position:-284px -117px !important
}
span.it {
	background-position:-172px -257px !important
}
span.fr {
	background-position:-228px -173px !important
}
span.lv {
	background-position:-228px -313px !important
}
span.ar {
	background-position:-256px -5px !important
}
span.au {
	background-position:-256px -89px !important
}
span.pe {
	background-position:-32px -425px !important
}
span.ve {
	background-position:-228px -593px !important
}
span.dr {
	background-position:-88px -145px !important
}
span.cl {
	background-position:-284px -89px !important
}
span.sk {
	background-position:-144px -481px !important
}
span.pt {
	background-position:-4px -453px !important
}
span.tr {
	background-position:-116px -537px !important
}
span.be {
	background-position:-228px -33px !important
}
span.pl {
	background-position:-172px -425px !important
}
span.th {
	background-position:-228px -509px !important
}
span.bg {
	background-position:-284px -33px !important
}
span.nl {
	background-position:-200px -313px !important
}
span.ng {
	background-position:-60px -397px !important
}
span.my {
	background-position:-200px -369px !important
}
span.id {
	background-position:-256px -229px !important
}
span.uz {
	background-position:-88px -565px !important
}
span.ec {
	background-position:-144px -145px !important
}
span.nz {
	background-position:-256px -397px !important
}
span.dk {
	background-position:-32px -145px !important
}
span.dz {
	background-position:-116px -145px !important
}
span.gr {
	background-position:-256px -201px !important
}
span.at {
	background-position:-4px -33px !important
}
span.no {
	background-position:-256px -61px !important
}
span.bd {
	background-position:-200px -33px !important
}
span.ch {
	background-position:-200px -89px !important
}
span.pa {
	background-position:-4px -425px !important
}
span.ie {
	background-position:-284px -229px !important
}
span.af {
	background-position:-60px -5px !important
}
span.ax {
	background-position:-88px -33px !important
}
span.al {
	background-position:-144px -5px !important
}
span.as {
	background-position:-284px -5px !important
}
span.ad {
	background-position:-4px -5px !important
}
span.ao {
	background-position:-258px -593px !important
}
span.ai {
	background-position:-116px -5px !important
}
span.aq {
	background-position:-88px -622px !important
}
span.ag {
	background-position:-88px -5px !important
}
span.am {
	background-position:-172px -5px !important
}
span.aw {
	background-position:-60px -33px !important
}
span.az {
	background-position:-116px -33px !important
}
span.bs {
	background-position:-200px -61px !important
}
span.bh {
	background-position:-4px -61px !important
}
span.bb {
	background-position:-172px -33px !important
}
span.by {
	background-position:-4px -89px !important
}
span.bz {
	background-position:-32px -89px !important
}
span.bj {
	background-position:-60px -61px !important
}
span.bm {
	background-position:-88px -61px !important
}
span.bt {
	background-position:-228px -61px !important
}
span.bo {
	background-position:-44px -61px !important
}
span.ba {
	background-position:-144px -33px !important
}
span.bw {
	background-position:-284px -61px !important
}
span.bv {
	background-position:-256px -61px !important
}
span.io {
	background-position:-60px -285px !important
}
span.bn {
	background-position:-116px -61px !important
}
span.bf {
	background-position:-256px -33px !important
}
span.bi {
	background-position:-32px -61px !important
}
span.kh {
	background-position:-32px -285px !important
}
span.cm {
	background-position:-4px -33px !important
}
span.cv {
	background-position:-4px -117px !important
}
span.ky {
	background-position:-228px -285px !important
}
span.cf {
	background-position:-144px -89px !important
}
span.td {
	background-position:-116px -453px !important
}
span.cn {
	background-position:-32px -117px !important
}
span.cx {
	background-position:-200px -117px !important
}
span.cc {
	background-position:-32px -33px !important
}
span.km {
	background-position:-88px -285px !important
}
span.cg {
	background-position:-1726px -89px !important
}
span.cd {
	background-position:-284px -593px !important
}
span.ck {
	background-position:-256px -89px !important
}
span.cr {
	background-position:-88px -117px !important
}
span.ci {
	background-position:-228px -89px !important
}
span.hr {
	background-position:-172px -229px !important
}
span.cu {
	background-position:-144px -117px !important
}
span.cy {
	background-position:-228px -117px !important
}
span.dj {
	background-position:-4px -145px !important
}
span.dm {
	background-position:-60px -145px !important
}
span.do {
	background-position:-88px -145px !important
}
span.eg {
	background-position:-200px -145px !important
}
span.sv {
	background-position:-32px -509px !important
}
span.gq {
	background-position:-228px -201px !important
}
span.er {
	background-position:-284px -145px !important
}
span.ee {
	background-position:-172px -145px !important
}
span.et {
	background-position:-32px -173px !important
}
span.fk {
	background-position:-144px -173px !important
}
span.fo {
	background-position:-200px -173px !important
}
span.fj {
	background-position:-116px -173px !important
}
span.fi {
	background-position:-88px -173px !important
}
span.gf {
	background-position:-228px -173px !important
}
span.pf {
	background-position:-608px -425px !important
}
span.tf {
	background-position:-172px -509px !important
}
span.ga {
	background-position:-256px -173px !important
}
span.gm {
	background-position:-144px -201px !important
}
span.ge {
	background-position:-228px -425px !important
}
span.gh {
	background-position:-60px -229px !important
}
span.gi {
	background-position:-88px -201px !important
}
span.gl {
	background-position:-116px -201px !important
}
span.gd {
	background-position:-4px -201px !important
}
span.gp {
	background-position:-228px -117px !important
}
span.gu {
	background-position:-32px -229px !important
}
span.gt {
	background-position:-4px -229px !important
}
span.gg {
	background-position:-116px -622px !important
}
span.gn {
	background-position:-172px -201px !important
}
span.gw {
	background-position:-60px -229px !important
}
span.gy {
	background-position:-88px -229px !important
}
span.ht {
	background-position:-200px -229px !important
}
span.hm {
	background-position:-32px -33px !important
}
span.va {
	background-position:-116px -565px !important
}
span.hn {
	background-position:-144px -229px !important
}
span.hk {
	background-position:-116px -229px !important
}
span.is {
	background-position:-144px -257px !important
}
span.ir {
	background-position:-116px -257px !important
}
span.iq {
	background-position:-88px -257px !important
}
span.im {
	background-position:-144px -622px !important
}
span.il {
	background-position:-4px -257px !important
}
span.jm {
	background-position:-200px -257px !important
}
span.jp {
	background-position:-256px -257px !important
}
span.je {
	background-position:-172px -622px !important
}
span.jo {
	background-position:-228px -257px !important
}
span.kz {
	background-position:-256px -285px !important
}
span.ke {
	background-position:-284px -257px !important
}
span.ki {
	background-position:-60px -285px !important
}
span.kp {
	background-position:-144px -285px !important
}
span.kr {
	background-position:-172px -285px !important
}
span.kw {
	background-position:-200px -285px !important
}
span.kg {
	background-position:-4px -285px !important
}
span.la {
	background-position:-284px -285px !important
}
span.lb {
	background-position:-4px -313px !important
}
span.ls {
	background-position:-142px -313px !important
}
span.lr {
	background-position:-116px -313px !important
}
span.ly {
	background-position:-256px -313px !important
}
span.li {
	background-position:-60px -313px !important
}
span.lt {
	background-position:-172px -313px !important
}
span.lu {
	background-position:-116px -397px !important
}
span.mo {
	background-position:-228px -341px !important
}
span.mk {
	background-position:-116px -341px !important
}
span.mg {
	background-position:-60px -341px !important
}
span.mw {
	background-position:-144px -369px !important
}
span.mv {
	background-position:-116px -369px !important
}
span.ml {
	background-position:-144px -341px !important
}
/* */span.mt {
	background-position:-60px -369px !important
}
span.mh {
	background-position:-88px -341px !important
}
span.mq {
	background-position:-284px -341px !important
}
span.mr {
	background-position:-4px -369px !important
}
span.mu {
	background-position:-88px -369px !important
}
span.yt {
	background-position:-116px -593px !important
}
span.fm {
	background-position:-172px -173px !important
}
span.mc {
	background-position:-4px -341px !important
}
span.mn {
	background-position:-200px -341px !important
}
span.me {
	background-position:-284px -313px !important
}
span.ms {
	background-position:-34px -369px !important
}
span.ma {
	background-position:-284px -313px !important
}
span.mz {
	background-position:-228px -369px !important
}
span.mm {
	background-position:-172px -341px !important
}
span.na {
	background-position:-256px -369px !important
}
span.nr {
	background-position:-200px -397px !important
}
span.np {
	background-position:-172px -397px !important
}
span.an {
	background-position:-200px -5px !important
}
span.nc {
	background-position:-284px -369px !important
}
span.ni {
	background-position:-32px -509px !important
}
span.ne {
	background-position:-4px -397px !important
}
span.nu {
	background-position:-228px -397px !important
}
span.nf {
	background-position:-32px -397px !important
}
span.mp {
	background-position:-256px -341px !important
}
span.om {
	background-position:-286px -397px !important
}
span.pk {
	background-position:-144px -425px !important
}
span.pw {
	background-position:-32px -453px !important
}
span.ps {
	background-position:-284px -425px !important
}
span.pg {
	background-position:-88px -425px !important
}
span.py {
	background-position:-60px -453px !important
}
span.pn {
	background-position:-228px -425px !important
}
span.pr {
	background-position:-256px -425px !important
}
span.qa {
	background-position:-88px -453px !important
}
span.re {
	background-position:-4px -621px !important
}
span.rw {
	background-position:-60px -341px !important
}
span.bl {
	background-position:-228px -173px !important
}
span.sh {
	background-position:-88px -481px !important
}
span.kn {
	background-position:-116px -285px !important
}
span.lc {
	background-position:-32px -313px !important
}
span.mf {
	background-position:-228px -173px !important
}
span.pm {
	background-position:-200px -425px !important
}
span.vc {
	background-position:-144px -565px !important
}
span.ws {
	background-position:-60px -593px !important
}
span.sm {
	background-position:-200px -481px !important
}
span.st {
	background-position:-4px -509px !important
}
span.sa {
	background-position:-200px -453px !important
}
span.sn {
	background-position:-228px -481px !important
}
span.rs {
	background-position:-32px -621px !important
}
span.sc {
	background-position:-256px -451px !important
}
span.sl {
	background-position:-172px -481px !important
}
span.sg {
	background-position:-60px -481px !important
}
span.si {
	background-position:-116px -481px !important
}
span.sb {
	background-position:-228px -451px !important
}
span.so {
	background-position:-256px -481px !important
}
span.gs {
	background-position:-200px -561px !important
}
span.lk {
	background-position:-88px -313px !important
}
span.sd {
	background-position:-4px -481px !important
}
span.sr {
	background-position:-284px -481px !important
}
span.sj {
	background-position:-60px -622px !important
}
span.sz {
	background-position:-88px -509px !important
}
span.se {
	background-position:-32px -481px !important
}
span.sy {
	background-position:-60px -509px !important
}
span.tw {
	background-position:-172px -341px !important
}
span.tj {
	background-position:-4px -397px !important
}
span.tz {
	background-position:-228px -537px !important
}
span.tl {
	background-position:-4px -537px !important
}
span.tg {
	background-position:-200px -509px !important
}
span.tk {
	background-position:-284px -509px !important
}
span.to {
	background-position:-88px -537px !important
}
span.tt {
	background-position:-144px -537px !important
}
span.tn {
	background-position:-60px -537px !important
}
span.tm {
	background-position:-32px -537px !important
}
span.tc {
	background-position:-116px -509px !important
}
span.tv {
	background-position:-172px -537px !important
}
span.ug {
	background-position:-284px -537px !important
}
span.ae {
	background-position:-32px -5px !important
}
span.um {
	background-position:-4px -565px !important
}
span.uy {
	background-position:-60px -565px !important
}
span.vu {
	background-position:-284px -565px !important
}
span.vn {
	background-position:-256px -565px !important
}
span.vg {
	background-position:-200px -565px !important
}
span.vi {
	background-position:-228px -565px !important
}
span.wf {
	background-position:-32px -593px !important
}
span.eh {
	background-position:-228px -145px !important
}
span.ye {
	background-position:-88px -593px !important
}
span.zm {
	background-position:-172px -593px !important
}
span.zw {
	background-position:-200px -593px !important
}
span.US {
	background-position:-4px -565px !important
}
span.RO {
	background-position:-144px -509px !important
}
span.RU {
	background-position:-144px -453px !important
}
span.CO {
	background-position:-60px -117px !important
}
span.PH {
	background-position:-116px -425px !important
}
span.UA {
	background-position:-256px -537px !important
}
span.CA {
	background-position:-60px -89px !important
}
span.GB {
	background-position:-284px -173px !important
}
span.CZ {
	background-position:-256px -117px !important
}
span.HU {
	background-position:-228px -229px !important
}
span.MD {
	background-position:-32px -341px !important
}
span.ZA {
	background-position:-144px -593px !important
}
span.BR {
	background-position:-172px -61px !important
}
span.IN {
	background-position:-32px -257px !important
}
span.MX {
	background:url(https://www.workglo.com/images/flag_mexico.jpg);
	height:11px;
	width:16px
}
span.ES {
	background-position:-4px -173px !important
}
span.DE {
	background-position:-284px -117px !important
}
span.IT {
	background-position:-172px -257px !important
}
span.FR {
	background-position:-228px -173px !important
}
span.LV {
	background-position:-228px -313px !important
}
span.AR {
	background-position:-256px -5px !important
}
span.AU {
	background-position:-256px -89px !important
}
span.PE {
	background-position:-32px -425px !important
}
span.VE {
	background-position:-228px -593px !important
}
span.DR {
	background-position:-88px -145px !important
}
span.CL {
	background-position:-284px -89px !important
}
span.SK {
	background-position:-144px -481px !important
}
span.PT {
	background-position:-4px -453px !important
}
span.TR {
	background-position:-116px -537px !important
}
span.BE {
	background-position:-228px -33px !important
}
span.PL {
	background-position:-172px -425px !important
}
span.TH {
	background-position:-228px -509px !important
}
span.BG {
	background-position:-284px -33px !important
}
span.NL {
	background-position:-200px -313px !important
}
span.NG {
	background-position:-60px -397px !important
}
span.MY {
	background-position:-200px -369px !important
}
span.ID {
	background-position:-256px -229px !important
}
span.UZ {
	background-position:-88px -565px !important
}
span.EC {
	background-position:-144px -145px !important
}
span.NZ {
	background-position:-256px -397px !important
}
span.DK {
	background-position:-32px -145px !important
}
span.DZ {
	background-position:-116px -145px !important
}
span.GR {
	background-position:-256px -201px !important
}
span.AT {
	background-position:-4px -33px !important
}
span.NO {
	background-position:-256px -61px !important
}
span.BD {
	background-position:-200px -33px !important
}
span.CH {
	background-position:-200px -89px !important
}
span.PA {
	background-position:-4px -425px !important
}
span.IE {
	background-position:-284px -229px !important
}
span.AF {
	background-position:-60px -5px !important
}
span.AX {
	background-position:-88px -33px !important
}
span.AL {
	background-position:-144px -5px !important
}
span.AS {
	background-position:-284px -5px !important
}
span.AD {
	background-position:-4px -5px !important
}
span.AO {
	background-position:-258px -593px !important
}
span.AI {
	background-position:-116px -5px !important
}
span.AQ {
	background-position:-88px -622px !important
}
span.AG {
	background-position:-88px -5px !important
}
span.AM {
	background-position:-172px -5px !important
}
span.AW {
	background-position:-60px -33px !important
}
span.AZ {
	background-position:-116px -33px !important
}
span.BS {
	background-position:-200px -61px !important
}
span.BH {
	background-position:-4px -61px !important
}
span.BB {
	background-position:-172px -33px !important
}
span.BY {
	background-position:-4px -89px !important
}
span.BZ {
	background-position:-32px -89px !important
}
span.BJ {
	background-position:-60px -61px !important
}
span.BM {
	background-position:-88px -61px !important
}
span.BT {
	background-position:-228px -61px !important
}
span.BO {
	background-position:-44px -61px !important
}
span.BA {
	background-position:-144px -33px !important
}
span.BW {
	background-position:-284px -61px !important
}
span.BV {
	background-position:-256px -61px !important
}
span.IO {
	background-position:-60px -285px !important
}
span.BN {
	background-position:-116px -61px !important
}
span.BF {
	background-position:-256px -33px !important
}
span.BI {
	background-position:-32px -61px !important
}
span.KH {
	background-position:-32px -285px !important
}
span.CM {
	background-position:-4px -33px !important
}
span.CV {
	background-position:-4px -117px !important
}
span.KY {
	background-position:-228px -285px !important
}
span.CF {
	background-position:-144px -89px !important
}
span.TD {
	background-position:-116px -453px !important
}
span.CN {
	background-position:-32px -117px !important
}
span.CX {
	background-position:-200px -117px !important
}
span.CC {
	background-position:-32px -33px !important
}
span.KM {
	background-position:-88px -285px !important
}
span.CG {
	background-position:-1726px -89px !important
}
span.CD {
	background-position:-284px -593px !important
}
span.CK {
	background-position:-256px -89px !important
}
span.CR {
	background-position:-88px -117px !important
}
span.CI {
	background-position:-228px -89px !important
}
span.HR {
	background-position:-172px -229px !important
}
span.CU {
	background-position:-144px -117px !important
}
span.CY {
	background-position:-228px -117px !important
}
span.DJ {
	background-position:-4px -145px !important
}
span.DM {
	background-position:-60px -145px !important
}
span.DO {
	background-position:-88px -145px !important
}
span.EG {
	background-position:-200px -145px !important
}
span.SV {
	background-position:-32px -509px !important
}
span.GQ {
	background-position:-228px -201px !important
}
span.ER {
	background-position:-284px -145px !important
}
span.EE {
	background-position:-172px -145px !important
}
span.ET {
	background-position:-32px -173px !important
}
span.FK {
	background-position:-144px -173px !important
}
span.FO {
	background-position:-200px -173px !important
}
span.FJ {
	background-position:-116px -173px !important
}
span.FI {
	background-position:-88px -173px !important
}
span.GF {
	background-position:-228px -173px !important
}
span.PF {
	background-position:-608px -425px !important
}
span.TF {
	background-position:-172px -509px !important
}
span.GA {
	background-position:-256px -173px !important
}
span.GM {
	background-position:-144px -201px !important
}
span.GE {
	background-position:-228px -425px !important
}
span.GH {
	background-position:-60px -229px !important
}
span.GI {
	background-position:-88px -201px !important
}
span.GL {
	background-position:-116px -201px !important
}
span.GD {
	background-position:-4px -201px !important
}
span.GP {
	background-position:-228px -117px !important
}
span.GU {
	background-position:-32px -229px !important
}
span.GT {
	background-position:-4px -229px !important
}
span.GG {
	background-position:-116px -622px !important
}
span.GN {
	background-position:-172px -201px !important
}
span.GW {
	background-position:-60px -229px !important
}
span.GY {
	background-position:-88px -229px !important
}
span.HT {
	background-position:-200px -229px !important
}
span.HM {
	background-position:-32px -33px !important
}
span.VA {
	background-position:-116px -565px !important
}
span.HN {
	background-position:-144px -229px !important
}
span.HK {
	background-position:-116px -229px !important
}
span.IS {
	background-position:-144px -257px !important
}
span.IR {
	background-position:-116px -257px !important
}
span.IQ {
	background-position:-88px -257px !important
}
span.IM {
	background-position:-144px -622px !important
}
span.IL {
	background-position:-4px -257px !important
}
span.JM {
	background-position:-200px -257px !important
}
span.JP {
	background-position:-256px -257px !important
}
span.JE {
	background-position:-172px -622px !important
}
span.JO {
	background-position:-228px -257px !important
}
span.KZ {
	background-position:-256px -285px !important
}
span.KE {
	background-position:-284px -257px !important
}
span.KI {
	background-position:-60px -285px !important
}
span.KP {
	background-position:-144px -285px !important
}
span.KR {
	background-position:-172px -285px !important
}
span.KW {
	background-position:-200px -285px !important
}
span.KG {
	background-position:-4px -285px !important
}
span.LA {
	background-position:-284px -285px !important
}
span.LB {
	background-position:-4px -313px !important
}
span.LS {
	background-position:-142px -313px !important
}
span.LR {
	background-position:-116px -313px !important
}
span.LY {
	background-position:-256px -313px !important
}
span.LI {
	background-position:-60px -313px !important
}
span.LT {
	background-position:-172px -313px !important
}
span.LU {
	background-position:-116px -397px !important
}
span.MO {
	background-position:-228px -341px !important
}
span.MK {
	background-position:-116px -341px !important
}
span.MG {
	background-position:-60px -341px !important
}
span.MW {
	background-position:-144px -369px !important
}
span.MV {
	background-position:-116px -369px !important
}
span.ML {
	background-position:-144px -341px !important
}
/* */span.MT {
	background-position:-60px -369px !important
}
span.MH {
	background-position:-88px -341px !important
}
span.MQ {
	background-position:-284px -341px !important
}
span.MR {
	background-position:-4px -369px !important
}
span.MU {
	background-position:-88px -369px !important
}
span.YT {
	background-position:-116px -593px !important
}
span.FM {
	background-position:-172px -173px !important
}
span.MC {
	background-position:-4px -341px !important
}
span.MC {
	background-position:-200px -341px !important
}
span.ME {
	background-position:-284px -313px !important
}
span.MS {
	background-position:-34px -369px !important
}
span.MA {
	background-position:-284px -313px !important
}
span.MZ {
	background-position:-228px -369px !important
}
span.MM {
	background-position:-172px -341px !important
}
span.NA {
	background-position:-256px -369px !important
}
span.NR {
	background-position:-200px -397px !important
}
span.NP {
	background-position:-172px -397px !important
}
span.AN {
	background-position:-200px -5px !important
}
span.NC {
	background-position:-284px -369px !important
}
span.NI {
	background-position:-32px -509px !important
}
span.NE {
	background-position:-4px -397px !important
}
span.NU {
	background-position:-228px -397px !important
}
span.NF {
	background-position:-32px -397px !important
}
span.MP {
	background-position:-256px -341px !important
}
span.OM {
	background-position:-286px -397px !important
}
span.PK {
	background-position:-144px -425px !important
}
span.PW {
	background-position:-32px -453px !important
}
span.PS {
	background-position:-284px -425px !important
}
span.PG {
	background-position:-88px -425px !important
}
span.PY {
	background-position:-60px -453px !important
}
span.PN {
	background-position:-228px -425px !important
}
span.PR {
	background-position:-256px -425px !important
}
span.QA {
	background-position:-88px -453px !important
}
span.RE {
	background-position:-4px -621px !important
}
span.RW {
	background-position:-60px -341px !important
}
span.BL {
	background-position:-228px -173px !important
}
span.SH {
	background-position:-88px -481px !important
}
span.KN {
	background-position:-116px -285px !important
}
span.LC {
	background-position:-32px -313px !important
}
span.MF {
	background-position:-228px -173px !important
}
span.PM {
	background-position:-200px -425px !important
}
span.VC {
	background-position:-144px -565px !important
}
span.WS {
	background-position:-60px -593px !important
}
span.SM {
	background-position:-200px -481px !important
}
span.ST {
	background-position:-4px -509px !important
}
span.SA {
	background-position:-200px -453px !important
}
span.SN {
	background-position:-228px -481px !important
}
span.RS {
	background-position:-32px -621px !important
}
span.SC {
	background-position:-256px -451px !important
}
span.SL {
	background-position:-172px -481px !important
}
span.SG {
	background-position:-60px -481px !important
}
span.SI {
	background-position:-116px -481px !important
}
span.SB {
	background-position:-228px -451px !important
}
span.SO {
	background-position:-256px -481px !important
}
span.GS {
	background-position:-200px -561px !important
}
span.LK {
	background-position:-88px -313px !important
}
span.SD {
	background-position:-4px -481px !important
}
span.SR {
	background-position:-284px -481px !important
}
span.SJ {
	background-position:-60px -622px !important
}
span.SZ {
	background-position:-88px -509px !important
}
span.SE {
	background-position:-32px -481px !important
}
span.SY {
	background-position:-60px -509px !important
}
span.TW {
	background-position:-172px -341px !important
}
span.TJ {
	background-position:-4px -397px !important
}
span.TZ {
	background-position:-228px -537px !important
}
span.TL {
	background-position:-4px -537px !important
}
span.TG {
	background-position:-200px -509px !important
}
span.TK {
	background-position:-284px -509px !important
}
span.TO {
	background-position:-88px -537px !important
}
span.TT {
	background-position:-144px -537px !important
}
span.TN {
	background-position:-60px -537px !important
}
span.TM {
	background-position:-32px -537px !important
}
span.TC {
	background-position:-116px -509px !important
}
span.TV {
	background-position:-172px -537px !important
}
span.UG {
	background-position:-284px -537px !important
}
span.AE {
	background-position:-32px -5px !important
}
span.UM {
	background-position:-4px -565px !important
}
span.UY {
	background-position:-60px -565px !important
}
span.VU {
	background-position:-284px -565px !important
}
span.VN {
	background-position:-256px -565px !important
}
span.VG {
	background-position:-200px -565px !important
}
span.VI {
	background-position:-228px -565px !important
}
span.WF {
	background-position:-32px -593px !important
}
span.EH {
	background-position:-228px -145px !important
}
span.YE {
	background-position:-88px -593px !important
}
span.ZM {
	background-position:-172px -593px !important
}
span.ZW {
	background-position:-200px -593px !important
}